// variables

$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color:#ccc;
$dark-color: #333;
$red-color: red;
// $bg-image: url('../portfolio-images/back-1.avif');
$bg-image: url('/portfolio-images/8888c43ea556\ -\ Copy.jpg')